.navigation,
.footNavigation {
  display: grid;
  place-items: center;
  max-width: 64rem;
  gap: 2rem;

  & > button {
    font-size: 1.6rem;
    color: color-mix(in srgb, var(--secondary) 80%, var(--text));
    padding: 1rem;
    margin: -1rem;

    &:hover {
      color: var(--text);
    }

    &.previous {
      grid-area: prev;
    }

    &.next {
      grid-area: next;
    }
  }
}

.navigation {
  grid-template:
    "prev title next" auto
    "prev subtitle next" auto
    / 1fr auto 1fr;
  margin: 0 auto 4rem;

  & > h1 {
    grid-area: title;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  & > h2 {
    grid-area: subtitle;
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 0;
    color: var(--neutral-foreground);
  }
}

@media screen and (width < 1280px) {
  .navigation {
    margin: 0 auto 3rem;
  }
}

@media screen and (width < 640px) {
  .navigation {
    grid-template:
      "prev next" auto
      "title title" auto
      "subtitle subtitle" auto
      / 1fr 1fr;
  }
}

.footNavigation {
  grid-template:
    "prev next" auto
    / 1fr 1fr;
  margin: 4rem auto 0;
}

@media screen and (width < 1280px) {
  .footNavigation {
    margin: 3rem auto 0;
  }
}
