@import "../../node_modules/reset-css/reset.css";

html {
  font-size: 10px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("/background.svg");
  background-color: #333;
  color: white;
  min-height: 100%;
}
