@import "../../node_modules/reset-css/reset.css";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: none;
  padding: 0;
}

html {
  height: 100%;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  background-color: #333;
  color: var(--text);
  --text: #ffffff;
  --primary: #7936c9;
  --secondary: #2d9bc0;
  --focus: #fb3342;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
