.main {
  position: relative;
  height: 100vh;
  filter: drop-shadow(0 0.4rem 0.2rem rgba(0, 0, 0, 0.4));
  overflow: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  user-select: none;
}

.main > svg {
  position: absolute;
}

.main > h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding: 1rem 2rem;
  background-color: #8800ff;
}

.main > h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding: 1rem 2rem;
  background-color: #ff6600;
}

.main > p {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 2rem 4rem;
  color: #444;
  z-index: 1;
  border: 1rem solid #ddd;
  background-color: #bbb;
  box-sizing: border-box;
  text-align: center;
}

.homeItem {
  top: -5rem;
  left: -5rem;
  position: absolute;
  width: 10rem;
  height: 10rem;
}

@media screen and (width < 60rem) {
  .main > h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }

  .main > h2 {
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
  }

  .main > p {
    font-size: 1.2rem;
  }
}
