.homeItems {
  margin-top: 4rem;
  align-self: stretch;

  &.grid {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    justify-items: stretch;
    gap: 2rem;
  }

  &.list {
    display: grid;
    grid-template: auto / 1fr;
    justify-items: stretch;
    gap: 2rem;
  }
}

@media screen and (width < 1280px) {
  .homeItems {
    margin-top: 3rem;
  }
}

@media screen and (width < 960px) {
  .homeItems {
    justify-content: center;

    &.grid {
      grid-template: auto / 1fr 1fr;
    }
  }
}

@media screen and (width < 560px) {
  .homeItems {
    justify-content: center;

    &.grid {
      grid-template: auto / 1fr;
    }
  }
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
