.homeItemLink {
  text-decoration: none;
}

.homeItem {
  position: relative;

  & > .homeItemContent {
    position: relative;

    & > img {
      display: block;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      background-color: var(--background);
      border: 1rem solid var(--neutral);
      transition: border 100ms;
    }

    & > .homeItemSummary {
      text-shadow: 0 0 0.5rem black;
      text-overflow: ellipsis;

      & > h3 {
        font-size: 2rem;
        letter-spacing: 0.4rem;
        line-height: 2.5rem;
        font-weight: bold;
        text-wrap: balance;
        color: var(--secondary-text);
        transition: color 100ms;
      }

      & > h4 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        line-height: 2rem;
        font-style: italic;
        color: var(--neutral-foreground);
        margin-top: 1rem;
      }

      & > p {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        line-height: 2rem;
        text-wrap: pretty;
        text-align: justify;
        color: var(--neutral-foreground);
        margin-top: 1rem;
      }
    }
  }

  &.grid {
    & > .homeItemContent {
      & > img {
        width: 100%;
      }

      & > .homeItemSummary {
        position: absolute;
        inset: auto 1rem 1rem;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  &.list {
    & > .homeItemContent {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 2rem;

      & > img {
        width: 0;
        max-width: 20rem;
        flex: 1 0 0;
      }

      & > .homeItemSummary {
        flex: 2 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 0;
        height: 100%;
        overflow: hidden;

        & > p {
          min-height: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &:hover {
    & > .homeItemContent {
      & > .homeItemSummary > h3 {
        color: var(--text);
      }

      & > img {
        border: 1rem solid var(--primary);
      }
    }
  }
}
